aclocal.m4
ar-lib
autom4te.cache/
*build*
build-aux/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
.deps/
install-sh
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
src/.deps/
src/main
src/Makefile
src/Makefile.in
src/*.o
src/test
stamp-h1
test-driver
test-*.*.*.tar.gz
