Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
ltmain.sh
missing
src/*.o
src/.deps/
src/Makefile
src/Makefile.in
src/main
src/test
stamp-h1
test-*.*.*.tar.gz
